# Machine Learning Models
*.pkl
*.joblib

# Datasets
*.csv
*.json
!model_metadata.json

# Python caches
__pycache__/
*.pyc

# Others
*.pdf
output.txt
test.txt

*.png
*.jpg
*.jpeg
docs/figures/
eval_figures/